
.nav-link{
    position: relative;
    margin-left: 50px;
    text-decoration: none;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.nav-link::after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.nav-link:hover{
    color: #040D12;
}
.nav-link:hover::after{
    width: 100%;
}
.logo{
    width: 200px;
    height: 80px;
}
.logo img{
    width: 200px;
}