.banner-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5rem;
}
.banner-healine{
    
   padding: 120px 120px 0px;
   font-size: 50px;
}
.containerx{
    display: grid;
    gap: 1.5rem;
    width: min(var(--wrapper), 100%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}


.container .contained-narrow-left {
    grid-column: 1/span 8;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
}
.btnx{
    background-color: #a23433;
    border: 2px solid #a23433;
    color: #fff;
    font-weight: bold;
    padding: 0.5em 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3em;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
.item-cardx{
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    
    box-shadow: none;
}
.item-cardx img{
    
    filter: drop-shadow(0px 10px 14px rgba(0, 0, 0, 0.449));
    width: 80%;
    height: 80%;
}